@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.chart_title,
.chart_label{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chart_title{
    font-size: 22px;
    font-weight: 700;
}

.chart_label{
    font-size: 18px;
    font-weight: 400;
}